<div class="signPanel col-sm-offset-2 col-sm-8">
	<div class="box">
		<h1 class="text-center">Sign Up</h1>

		<form role="form" data-ng-show="!submitted">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="input" class="form-control" id="username" placeholder="Enter a username">
			</div>

			<div class="form-group">
				<label for="email">Email address</label>
				<input type="email" class="form-control" id="email" placeholder="Enter email">
			</div>

			<div class="form-group">
				<label for="emailConfirm">Confirm Email address</label>
				<input type="email" class="form-control" id="emailConfirm" placeholder="Confirm email">
			</div>

			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" placeholder="Password">
			</div>

			<div class="form-group">
				<label for="confirmPassword">Confirm Password</label>
				<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
			</div>
			<button type="submit" class="btn btn-default" data-ng-click="submit()">Submit</button>
		</form>

		<h2 class="text-center" data-ng-show="submitted">Go to the email to finish registration</h2>


	</div>
</div>