html, .container {
	background-color: #D3D3D3;
}

.signPanel {
	top: 50px;
	padding: 40px;
	background-color: grey;
	border-radius: 1px;

	a, a:hover {
		color: rgb(51, 51, 51);
		text-decoration: none;
	}

	.fa {
		margin-right: 10px;
		font-size: 72px;
		vertical-align: middle;
	}
}

.entryPanel {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 24px;
	background-color: grey;
	border-radius: 1px;

	&.addEntry {
		background-color: transparent;
		border: 1px dashed grey;
	}

	.delete {
		top: 6px;
		float: right;
		margin-left: 10px;
		font-size: 24px;

		&:hover {
			cursor: pointer;
		}
	}

	.btn {
		float: right;
		&:focus {
			outline: none;
		}
	}

}

input {
	outline: none;
}

.clearfix:after {
   display: block;
   height: 0;
   clear: both;
   content: " ";
}


.btn {
	border-radius: 1px;
}
